
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
#up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding:20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div .logo{
    position: relative;
    max-width: 80px;
}
div ul{
    position: absolute;
    display: flex;

}
div ul li{
    list-style: none;
}
.home_nav{
    margin-left: 730px;
}
div ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 45px;
    text-decoration: none;
    background: #9e0152;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 6px 13px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.content{
    position:absolute;
    width: 100%;
    display: flex;
    top:0px;
    justify-content: space-between;
    margin-top: 100px;
   
}
.content .textBox{
    position: relative;
    max-width: 600px;
    margin-top: 50px;
}
.one_span{
    color: #6F4E37;
    font-size: 3em;
    line-height: 1em;
    font-weight: 500;
}
.second_span{
    color: #9e0152;
    font-size: 3em;
    font-weight: 800;
}
.third_span{
    color: #6F4E37;
    font-size: 1em;
    font-weight: 900;
}
.content .textBox p{
    color:#c6ab80;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #9e0152;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.content .imageBox{
    width: 1200px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    top:53px;
    height:450px;
    margin-left: 75px;
   position: absolute;
}
.thumb{
    position: absolute;
    left:45%;
    bottom: 40px;
    transform: translate(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin:15px;
    cursor:pointer;
    transition: 0.5s;
    width: 80px;
}
.thumb li:hover{
    transform: translate(0px,-5px);
    -webkit-transform: translate(0px,-5px);
    -moz-transform: translate(0px,-5px);
    -ms-transform: translate(0px,-5px);
    -o-transform: translate(0px,-5px);
}
.thumb li img{
    max-width: 120px;
}
.circle{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #B9EBFF;
    clip-path: circle(500px at right 600px);
}
